<%- include('header'); -%>

<div class="box" id="heading">
    <h1><%= Title %> </h1>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Omnis cumque numquam laboriosam nesciunt accusantium consequatur error, voluptate assumenda. 
    Quod quo est dicta, odit necessitatibus optio debitis eos laborum iste quasi?</p>

<%- include('footer'); -%>